// protfolio

.card_style {
    position: relative;
    &.one{
        padding: 2rem 2rem 1.7rem;
        background: #fff;
        border: 1px solid var(--background-color-four);
        border-radius: 0.375rem;
        box-shadow: var(--box-shadow-three);
        margin-bottom: 20px;
        .image{
            position: relative;
            overflow: hidden;
            border-radius: 0.75rem;
            margin-bottom: 1.25rem;
            img{
                width: 100%;
                height: 420px;
                object-fit: cover;
            }
        }
        .content_box{
            //display: flex;
            //justify-content: space-between;
            //align-items: center;
            position: relative;
            .content_left{
                float: left;
            }
            h3{
                margin-bottom: 5px;
                a{
                    display: block;
                    font-size: 18px;
                    font-family: var(--monst-family-one);
                    font-weight: 700; 
                    line-height: 30px;
                    margin-bottom: 0px;
                }
            }
            p{
                margin: 0px;
            }
            .btn_content{
                float: right;
                padding-top: 10px;
                a{
                    margin: 0px;
                }
            }
        }
    }
}  
// card_carousel_type_one

.card_carousel_type_one{
    position: relative;

    .carausel-2-columns-1-arrows{
        position: absolute;
        bottom: -50px;
        left: 0;
        min-width: 108px;
        text-align: center;
        right: 0;
        max-width: auto;
        z-index: 99;
        span{
            cursor: pointer;
            padding: 10px 15px;
            svg{
                width: 1.5rem !important;
                path{
                    stroke: var(--primary-color-two);
                }
            }
        }
    }
}

/// post type

.card_post_portfolio {
    position: relative;
    margin-bottom: 30px;
    &.one{
        padding: 10px;
        border-radius: .25rem;
        border: 1px solid var(--border-color-one);
        background: #fff;             
        .image{
            position: relative;
            overflow: hidden;
            border-radius: .25rem;
            img{
                height: 350px;
                width: 100%;
                object-fit: cover;
                object-position: top;
            }
        }
        .content_box{
            position: absolute;
            width: 100%;
            height: auto;
            padding: 20px;
            -webkit-transition: 0.5s ease-in-out;
            transition: 0.5s ease-in-out;
            -ms-transition: 0.5s ease-in-out;
            -moz-transition: 0.5s ease-in-out;
            -o-transition: 0.5s ease-in-out;
            bottom: 0;
            transform: translateY(-5px);
            opacity: 0;
            visibility: hidden;
            left: 0;
            .content_box_in{
                background: var(--primary-color-two);
                border-radius: .25rem;
                position: relative;       padding: 20px;
                h2{
                    margin: 0px;
                    a{
                        font-size: 20px;
                        font-weight: 700;
                        line-height: 30px;
                        color: #fff;
                        display: block;
                        margin-bottom: 8px;
                    }
                }
                p{
                    color: #fff;
                    margin-bottom: 10px;
                }
                .ca_t {
                    a{
                           padding: 0.25rem 0.75rem;
                           color: var(--primary-color-three);
                           font-size: .75rem;
                           font-weight: 600;
                           background-color: var(--background-color-seven);
                           border-radius: 0.75rem;
                           line-height: normal;
                           display: inline-block;
                    }
                }
            }
        }
        &:hover{
            .content_box{
                visibility: visible;
                opacity: 1;
                transform: translateY(0);
            }
        }
    }
}