:root{
    // font family
    --monst-family-one: 'Poppins', sans-serif!important;
    --monst-family-two: 'Montserrat', sans-serif!important;
     // primary color
    --primary-color-one: #60a5fa;
    --primary-color-two: #3b82f6;
    --primary-color-three:#2563eb;
    --primary-color-four:#1e40af;
    // background color
    --background-color-one:#f8fafc;
    --background-color-two:#eff3f9;
    --background-color-three:#eff6ff;
    --background-color-four:#f1f5f9;
    --background-color-five:#64748b;
    --background-color-six:#475569;
    --background-color-seven:#dbeafe; 
    --background-color-extra:#fe6564;
    // text color
    --text-color-dark: #8d9196;
    //  --text-color-dark: #94a3b8; 
    --text-color-dark-two: #1f2937;
    --text-color-dark-three: #4b5563;
    --text-color-dark-four:#64748b;
    --text-color-light: #d1d5db;
    --text-color-light-two: #bfdbfe;

     // heading color
    --heading-dark: #1e293b;
     // border color
    --border-color-one: #e2e8f0; 
    --border-color-two: #cbd5e1; 
    --border-color-three: #bfdbfe; 
    --border-color-four: #f3f4f6; 
    --border-color-five: #e5e7eb; 

    //--menu-color 
    --menu-color: #475569;
    --menu-color-two:#64748b;
    --menu-active-color: #3b82f6;
    --mobile-menu-color:#64748b;
    //--shadow 
    --box-shadow: 0px 0px 40px 0px rgba(0,0,0,.09);
    --box-shadow-two: 0px 3px 16px 0px rgba(0 , 0 , 0 , .05);
    --box-shadow-three: 0px 6px 24px rgba(235, 238, 251, 0.4);
    
    //--preloader 
    --preloader-background-color: #fff;
    // fontawesome
    --fontawesome-one : "Font Awesome 6 Brands";
    --fontawesome-two : "FontAwesome";
    --fontawesome-three : "Font Awesome 6 Free";
    // input placeholder
    --placeholder: #a1a1aa;
 
}


