:root {
  --box-shadow-three: 0px 6px 24px rgba(0 , 0 , 0 , .05);
}

body.dark_more_enable {
  background: #000;
}

body.dark_more_enable h1 a, body.dark_more_enable h1, body.dark_more_enable h2 a, body.dark_more_enable h2, body.dark_more_enable h3 a, body.dark_more_enable h3, body.dark_more_enable h4 a, body.dark_more_enable h4, body.dark_more_enable h5 a, body.dark_more_enable h5, body.dark_more_enable h6 a, body.dark_more_enable h6 {
  color: #fff;
}

body.dark_more_enable .default_header {
  background: #000;
}

body.dark_more_enable .preloader-active {
  background: #000;
}

body.dark_more_enable .preloader-active h1 {
  color: #fff;
}

body.dark_more_enable .page_header_center {
  background: #06080A;
}

body.dark_more_enable .page_header_center .banner_title_inner h1 {
  color: #fff;
}

body.dark_more_enable .navbar_nav li .dropdown_menu {
  background: #06080a;
  border-color: #121517;
}

body.dark_more_enable .mobile_header .bottom_content {
  background: #06080a;
}

body.dark_more_enable .navbar_nav li .dropdown_menu > li > a {
  color: #fff;
}

body.dark_more_enable .widgets_grid_box {
  border-color: rgba(255, 255, 255, 0.12);
}

body.dark_more_enable .widgets_grid_box .widget_search label {
  color: #fff;
}

body.dark_more_enable .wp-block-calendar table th {
  background: #080808;
}

body.dark_more_enable .wp-block-latest-posts__list a {
  color: #fff;
}

body.dark_more_enable .wp-block-tag-cloud a, body.dark_more_enable .tagcloud a {
  background: rgba(255, 255, 255, 0.12);
}

body.dark_more_enable select {
  background: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Ctitle%3Edown_key%3C/title%3E%3Cpath d='M18.5303 9.46967C18.8232 9.76256 18.8232 10.2374 18.5303 10.5303L12.5303 16.5303C12.2374 16.8232 11.7626 16.8232 11.4697 16.5303L5.46967 10.5303C5.17678 10.2374 5.17678 9.76256 5.46967 9.46967C5.76256 9.17678 6.23744 9.17678 6.53033 9.46967L12 14.9393L17.4697 9.46967C17.7626 9.17678 18.2374 9.17678 18.5303 9.46967Z' fill='%23ffffff'/%3E%3C/svg%3E%0A") no-repeat right 0.75rem center/18px 20px !important;
}

body.dark_more_enable .wp-calendar-table tbody, body.dark_more_enable .wp-calendar-table td, body.dark_more_enable .wp-calendar-table tfoot, body.dark_more_enable .wp-calendar-table th, body.dark_more_enable .wp-calendar-table thead, body.dark_more_enable .wp-calendar-table tr {
  color: #fff;
}

body.dark_more_enable tbody, body.dark_more_enable td, body.dark_more_enable tfoot, body.dark_more_enable th, body.dark_more_enable thead, body.dark_more_enable tr {
  border-color: rgba(255, 255, 255, 0.12);
}

body.dark_more_enable .wp-block-table.is-style-stripes tbody tr:nth-child(odd) {
  background: #ffffff08;
}

body.dark_more_enable .widgets_grid_box .widget_rss cite {
  color: #fff;
}

body.dark_more_enable .wp-block-table.is-style-stripes {
  border-color: rgba(255, 255, 255, 0.12);
}

body.dark_more_enable input, body.dark_more_enable input[type="text"], body.dark_more_enable input[type="email"], body.dark_more_enable input[type="number"], body.dark_more_enable textarea, body.dark_more_enable select, body.dark_more_enable .wp-block-search__input, body.dark_more_enable .um .um-form input[type=text], body.dark_more_enable .um .um-form input[type=search], body.dark_more_enable .um .um-form input[type=tel], body.dark_more_enable .um .um-form input[type=number], body.dark_more_enable .um .um-form input[type=password], body.dark_more_enable .um .um-form textarea {
  background: #ffffff08;
  background-color: #ffffff08 !important;
  border-color: rgba(255, 255, 255, 0.12);
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

body.dark_more_enable .simple_search input[type="search"] {
  border-color: rgba(255, 255, 255, 0.12);
}

body.dark_more_enable input[type="submit"], body.dark_more_enable button[type="submit"], body.dark_more_enable body .um-button {
  background-color: var(--primary-color-two) !important;
  border-color: var(--primary-color-two) !important;
  height: 50px;
}

body.dark_more_enable .wp-block-pullquote {
  border-color: rgba(255, 255, 255, 0.12);
}

body.dark_more_enable pre {
  background: #06080a;
}

body.dark_more_enable strong {
  color: #fff;
}

body.dark_more_enable .contact_form_shortcode form label {
  color: #fff;
}

body.dark_more_enable .wp-block-group__inner-container h2, body.dark_more_enable .widget-title {
  color: #fff;
}

body.dark_more_enable .widgets_grid_box ul > li a, body.dark_more_enable .widgets_grid_box ol > li a {
  color: var(--text-color-dark);
}

body.dark_more_enable .card_blog.default_style .content_box h2 a {
  color: #fff;
}

body.dark_more_enable .card_blog.default_style .content_box .meta_box li a {
  background: rgba(255, 255, 255, 0.09);
}

body.dark_more_enable .blog_single_page_header .page_header_content .meta_box li a {
  background: rgba(255, 255, 255, 0.09);
}

body.dark_more_enable .blog_single_page_header .page_header_content .authour_content_box .authour_content h4 {
  color: #fff;
}

body.dark_more_enable .breadcrumbs ul li a {
  color: #fff;
}

body.dark_more_enable .breadcrumbs ul li:after {
  color: rgba(255, 255, 255, 0.4);
}

body.dark_more_enable .blog_single_details_outer .single_content_lower {
  border-color: rgba(255, 255, 255, 0.12);
}

body.dark_more_enable .sec_comments .comment_box .title_commnt h2 a {
  color: #fff;
}

body.dark_more_enable .sec_comments .comment_box .comment-list li.comment .comments-outer .comment-text, body.dark_more_enable .sec_comments .comment_box .comment-list li.trackback .comments-outer .comment-text, body.dark_more_enable .sec_comments .comment_box .comment-list li.pingback .comments-outer .comment-text {
  border-color: rgba(255, 255, 255, 0.12);
}

body.dark_more_enable .sec_comments .comment_box .comment-list li.comment .comment-text h3.name, body.dark_more_enable .sec_comments .comment_box .comment-list li.trackback .comment-text h3.name, body.dark_more_enable .sec_comments .comment_box .comment-list li.pingback .comment-text h3.name {
  color: #fff;
}

body.dark_more_enable .sec_comments .comment-respond .blog-details__content-title {
  color: #fff;
}

body.dark_more_enable .tags_and_share .d-flex .tags_content .title, body.dark_more_enable .tags_and_share .d-flex .share_content .title {
  color: #fff;
}

body.dark_more_enable .pagination li a, body.dark_more_enable .pagination li span, body.dark_more_enable .page-numbers li a, body.dark_more_enable .page-numbers li span {
  background: rgba(255, 255, 255, 0.12);
  color: #fff;
}

body.dark_more_enable .pagination li.active a, body.dark_more_enable .page-numbers li.active a {
  background: var(--primary-color-two);
  color: #fff;
}

body.dark_more_enable .has-large-font-size {
  color: #fff;
}

body.dark_more_enable .wp-block-quote, body.dark_more_enable blockquote {
  border-color: rgba(255, 255, 255, 0.12);
}

body.dark_more_enable .wp-block-quote p, body.dark_more_enable blockquote p {
  color: #fff;
}

body.dark_more_enable .mobile_header_panel .mobile_content, body.dark_more_enable .mobile_header_panel_two .mobile_content {
  background: #06080A;
}

body.dark_more_enable .mobile_header_panel .mobile_content .navbar-close svg path, body.dark_more_enable .mobile_header_panel_two .mobile_content .navbar-close svg path {
  stroke: #fff;
}

body.dark_more_enable .mobile_header_panel .mobile-menu ul > li .menu-expand, body.dark_more_enable .mobile_header_panel_two .mobile-menu ul > li .menu-expand {
  color: #fff;
}

body.dark_more_enable .mobile_header_panel .mobile-menu ul > li > a, body.dark_more_enable .mobile_header_panel_two .mobile-menu ul > li > a {
  color: #fff;
}

body.dark_more_enable .mobile_header_panel .group_button, body.dark_more_enable .mobile_header_panel_two .group_button,
body.dark_more_enable .mobile_header_panel .get_in_touch, body.dark_more_enable .mobile_header_panel_two .get_in_touch {
  border-color: rgba(255, 255, 255, 0.12);
}

body.dark_more_enable .mobile_header_panel .mt-auto a, body.dark_more_enable .mobile_header_panel_two .mt-auto a {
  background: rgba(255, 255, 255, 0.12);
  border-color: rgba(255, 255, 255, 0.12);
  color: #fff;
}

body.dark_more_enable .mobile_header_panel .group_button a, body.dark_more_enable .mobile_header_panel_two .group_button a {
  color: #fff;
  border-color: rgba(255, 255, 255, 0.12);
}

body.dark_more_enable .team_single_box .about_team_member_box {
  border-color: rgba(255, 255, 255, 0.12);
}

body.dark_more_enable .team_single_box .about_team_member_box .member_details .upper .title a, body.dark_more_enable .team_single_box .about_team_member_box .member_details .lower p span {
  color: #fff;
}

body.dark_more_enable .simple_search form button[type="submit"] {
  background: transparent !important;
  background-color: transparent !important;
}

body.dark_more_enable .style-switcher {
  background: #06080A;
}

body.dark_more_enable .sidemenu_area .side_menu_content {
  background: #06080A;
  border: 1px solid rgba(255, 255, 255, 0.12);
}

body.dark_more_enable .um-form a.um-link-alt {
  color: #fff;
}

body.dark_more_enable .footer.footer_default {
  border-color: rgba(255, 255, 255, 0.12);
}
/*# sourceMappingURL=dark.css.map */