body.rtl,
body.rtl_enable {
  direction: rtl;
  font-family: var(--monst-family-two);
  font-size: 16px;
  color: var(--text-color-dark);
  font-weight: 400;
  line-height: 28px;
}

body.rtl .nav-link,
body.rtl_enable .nav-link {
  padding: 0px;
}

body.rtl .dropdown-toggle::after,
body.rtl_enable .dropdown-toggle::after {
  display: none;
}

body.rtl .elementor-widget-wp-widget-search .simple_search form input,
body.rtl_enable .elementor-widget-wp-widget-search .simple_search form input {
  padding: 1.25rem 1.25rem !important;
}

body.rtl input[type="submit"], body.rtl button[type="submit"], body.rtl body .um-button,
body.rtl_enable input[type="submit"],
body.rtl_enable button[type="submit"],
body.rtl_enable body .um-button {
  line-height: normal;
  text-align: center;
}

body.rtl .simple_search form input,
body.rtl_enable .simple_search form input {
  padding: 15px 1.25rem;
}

body.rtl .simple_search form button[type="submit"],
body.rtl_enable .simple_search form button[type="submit"] {
  right: unset;
  left: 5px;
}

body.rtl ul,
body.rtl_enable ul {
  padding-left: unset;
  padding-right: 20px;
}

body.rtl select,
body.rtl_enable select {
  background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Ctitle%3Edown_key%3C/title%3E%3Cpath d='M12.72,15.78a.75.75,0,0,1-.53.22h-.38a.77.77,0,0,1-.53-.22L6.15,10.64a.5.5,0,0,1,0-.71l.71-.71a.49.49,0,0,1,.7,0L12,13.67l4.44-4.45a.5.5,0,0,1,.71,0l.7.71a.5.5,0,0,1,0,.71Z'/%3E%3C/svg%3E") no-repeat left 0.75rem center/18px 20px;
}

body.rtl table caption,
body.rtl_enable table caption {
  text-align: right;
}

body.rtl .owl-carousel, body.rtl .woocommerce-product-gallery,
body.rtl_enable .owl-carousel,
body.rtl_enable .woocommerce-product-gallery {
  direction: ltr;
}

body.rtl .slick-list,
body.rtl_enable .slick-list {
  direction: ltr;
}

body.rtl .mobile_header_panel.mobile_header_hidden, body.rtl .mobile_header_panel.mobile_header_hidden_two, body.rtl .mobile_header_panel_two.mobile_header_hidden, body.rtl .mobile_header_panel_two.mobile_header_hidden_two,
body.rtl_enable .mobile_header_panel.mobile_header_hidden,
body.rtl_enable .mobile_header_panel.mobile_header_hidden_two,
body.rtl_enable .mobile_header_panel_two.mobile_header_hidden,
body.rtl_enable .mobile_header_panel_two.mobile_header_hidden_two {
  visibility: hidden;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

body.rtl .mobile_header_panel.mobile_header_hidden .navbar-backdrop, body.rtl .mobile_header_panel.mobile_header_hidden_two .navbar-backdrop, body.rtl .mobile_header_panel_two.mobile_header_hidden .navbar-backdrop, body.rtl .mobile_header_panel_two.mobile_header_hidden_two .navbar-backdrop,
body.rtl_enable .mobile_header_panel.mobile_header_hidden .navbar-backdrop,
body.rtl_enable .mobile_header_panel.mobile_header_hidden_two .navbar-backdrop,
body.rtl_enable .mobile_header_panel_two.mobile_header_hidden .navbar-backdrop,
body.rtl_enable .mobile_header_panel_two.mobile_header_hidden_two .navbar-backdrop {
  visibility: hidden;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

body.rtl .mobile_header_panel .group_button a:first-child, body.rtl .mobile_header_panel_two .group_button a:first-child,
body.rtl_enable .mobile_header_panel .group_button a:first-child,
body.rtl_enable .mobile_header_panel_two .group_button a:first-child {
  margin-right: unset !important;
  margin-left: 15px !important;
}

body.rtl .mobile_header_panel .get_in_touch a i, body.rtl .mobile_header_panel_two .get_in_touch a i,
body.rtl_enable .mobile_header_panel .get_in_touch a i,
body.rtl_enable .mobile_header_panel_two .get_in_touch a i {
  margin-right: unset;
  margin-left: 6px;
}

body.rtl h1 a, body.rtl h1, body.rtl h2 a, body.rtl h2, body.rtl h3 a, body.rtl h3, body.rtl h4 a, body.rtl h4, body.rtl h5 a, body.rtl h5, body.rtl h6 a, body.rtl h6,
body.rtl_enable h1 a,
body.rtl_enable h1,
body.rtl_enable h2 a,
body.rtl_enable h2,
body.rtl_enable h3 a,
body.rtl_enable h3,
body.rtl_enable h4 a,
body.rtl_enable h4,
body.rtl_enable h5 a,
body.rtl_enable h5,
body.rtl_enable h6 a,
body.rtl_enable h6 {
  font-weight: 700;
}

body.rtl .wp-block-quote, body.rtl blockquote,
body.rtl_enable .wp-block-quote,
body.rtl_enable blockquote {
  border-right: 4px solid var(--border-color-four);
  border-left: unset;
}

body.rtl .block_qoute.one .authour_name,
body.rtl_enable .block_qoute.one .authour_name {
  padding-left: unset;
  padding-right: 22px;
}

body.rtl .fun_box_one .content_box,
body.rtl_enable .fun_box_one .content_box {
  margin-right: 1.5rem;
  margin-left: unset;
}

body.rtl .price_style.one .features ul li svg,
body.rtl_enable .price_style.one .features ul li svg {
  margin-right: unset;
  margin-left: 0.5rem;
}

body.rtl .newsteller .item_scubscribe .input_group form input[type="email"],
body.rtl_enable .newsteller .item_scubscribe .input_group form input[type="email"] {
  text-align: right;
  padding-left: 1rem !important;
  padding-right: 2.5rem !important;
}

body.rtl .newsteller .item_scubscribe .input_group form p i,
body.rtl_enable .newsteller .item_scubscribe .input_group form p i {
  right: 12px;
  left: unset;
}

body.rtl .newsteller.style_one .item_scubscribe .input_group form input[type="submit"],
body.rtl_enable .newsteller.style_one .item_scubscribe .input_group form input[type="submit"] {
  margin-right: unset;
  margin: 0px 10px 0px  0px;
}

body.rtl .card_style.one .content_box .content_left,
body.rtl_enable .card_style.one .content_box .content_left {
  float: right;
  text-align: right;
}

body.rtl .card_style.one .content_box .btn_content,
body.rtl_enable .card_style.one .content_box .btn_content {
  float: left;
}

body.rtl .icon_simple_box.one .icon_bx,
body.rtl_enable .icon_simple_box.one .icon_bx {
  margin-left: 15px;
  margin-right: unset;
}

body.rtl .process_box.two .steps_no,
body.rtl_enable .process_box.two .steps_no {
  margin-right: unset;
  margin-left: 25px;
}

body.rtl input, body.rtl input[type="text"], body.rtl input[type="email"], body.rtl input[type="number"], body.rtl textarea, body.rtl select, body.rtl .wp-block-search__input, body.rtl .um .um-form input[type=text], body.rtl .um .um-form input[type=search], body.rtl .um .um-form input[type=tel], body.rtl .um .um-form input[type=number], body.rtl .um .um-form input[type=password], body.rtl .um .um-form textarea,
body.rtl_enable input,
body.rtl_enable input[type="text"],
body.rtl_enable input[type="email"],
body.rtl_enable input[type="number"],
body.rtl_enable textarea,
body.rtl_enable select,
body.rtl_enable .wp-block-search__input,
body.rtl_enable .um .um-form input[type=text],
body.rtl_enable .um .um-form input[type=search],
body.rtl_enable .um .um-form input[type=tel],
body.rtl_enable .um .um-form input[type=number],
body.rtl_enable .um .um-form input[type=password],
body.rtl_enable .um .um-form textarea {
  text-align: right;
  margin-bottom: 15px;
  padding: 0.8rem 1rem !important;
}

body.rtl .contact_form_shortcode form .wpcf7-checkbox span.wpcf7-list-item, body.rtl .contact_form_shortcode form .wpcf7-radio span.wpcf7-list-item,
body.rtl_enable .contact_form_shortcode form .wpcf7-checkbox span.wpcf7-list-item,
body.rtl_enable .contact_form_shortcode form .wpcf7-radio span.wpcf7-list-item {
  text-align: right;
  float: right;
  padding-right: 0;
  padding-left: 10px;
}

body.rtl form .wpcf7-checkbox span.wpcf7-list-item label, body.rtl form .wpcf7-radio span.wpcf7-list-item label,
body.rtl_enable form .wpcf7-checkbox span.wpcf7-list-item label,
body.rtl_enable form .wpcf7-radio span.wpcf7-list-item label {
  margin-bottom: 15px !important;
  padding-right: 15px !important;
  position: relative;
}

body.rtl form .wpcf7-checkbox span.wpcf7-list-item label input, body.rtl form .wpcf7-radio span.wpcf7-list-item label input,
body.rtl_enable form .wpcf7-checkbox span.wpcf7-list-item label input,
body.rtl_enable form .wpcf7-radio span.wpcf7-list-item label input {
  position: absolute;
  margin: 0px;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}

body.rtl .content_boxed.one .image,
body.rtl_enable .content_boxed.one .image {
  right: unset;
  left: 0;
}

body.rtl .single_banner_v2.one .banner_box_in .override_custom_form .um-form form .um-row div .um-field-area .um-field-icon,
body.rtl_enable .single_banner_v2.one .banner_box_in .override_custom_form .um-form form .um-row div .um-field-area .um-field-icon {
  left: unset;
  right: 15px;
}

body.rtl .single_banner_v2.one .banner_box_in .override_custom_form .um-form form .um-row div .um-field-area,
body.rtl_enable .single_banner_v2.one .banner_box_in .override_custom_form .um-form form .um-row div .um-field-area {
  padding-right: unset !important;
  padding-left: 1rem !important;
}

body.rtl .single_banner_v2.one .banner_box_in .override_custom_form .um-form form .um-row div input,
body.rtl_enable .single_banner_v2.one .banner_box_in .override_custom_form .um-form form .um-row div input {
  height: 47px !important;
}

body.rtl .single_banner_v2.one .banner_box_in .override_custom_form .um-form form .um-row div .um-field-area .um-iconed,
body.rtl_enable .single_banner_v2.one .banner_box_in .override_custom_form .um-form form .um-row div .um-field-area .um-iconed {
  padding-left: unset !important;
  padding-right: 2.3rem !important;
}

body.rtl .faq_section dl dt.faq_header .minus_plus,
body.rtl_enable .faq_section dl dt.faq_header .minus_plus {
  right: unset;
  left: 0;
}

body.rtl .team_box .team-card.three .authour_details .image,
body.rtl_enable .team_box .team-card.three .authour_details .image {
  margin-right: unset;
  margin-left: 15px;
}

body.rtl .card_post_service.one .content_box .icon_box,
body.rtl_enable .card_post_service.one .content_box .icon_box {
  left: unset;
  right: 25px;
}

body.rtl .list_item_box li small .icon_bx,
body.rtl_enable .list_item_box li small .icon_bx {
  margin-right: unset;
  margin-left: 15px;
}

body.rtl .testimonial_outer.one .authour_details.image_yes .image,
body.rtl_enable .testimonial_outer.one .authour_details.image_yes .image {
  margin-right: unset;
  margin-left: 15px;
}

body.rtl .portfolio_single_box .project_detail_image .project_details .lower p span,
body.rtl_enable .portfolio_single_box .project_detail_image .project_details .lower p span {
  margin-right: unset;
  margin-left: 6px;
}

body.rtl .team_single_box .about_team_member_box .member_details .lower p span,
body.rtl_enable .team_single_box .about_team_member_box .member_details .lower p span {
  margin-right: unset;
  margin-left: 6px;
}

body.rtl .timeline li small:before,
body.rtl_enable .timeline li small:before {
  right: -41px;
  left: unset;
}

body.rtl .timeline li span.date,
body.rtl_enable .timeline li span.date {
  padding-right: unset;
  margin-right: unset;
  margin-left: 40px;
  padding-left: 40px;
}

body.rtl .timeline li span.date::before,
body.rtl_enable .timeline li span.date::before {
  right: unset;
  left: -7px;
}

body.rtl .timeline li span.date:after,
body.rtl_enable .timeline li span.date:after {
  left: -4px;
  right: unset;
}

body.rtl .navbar_nav > li,
body.rtl_enable .navbar_nav > li {
  margin-right: 3rem;
  margin-left: unset;
}

body.rtl .navbar_nav > li.dropdown,
body.rtl_enable .navbar_nav > li.dropdown {
  padding-left: 10px;
  padding-right: unset;
}

body.rtl .navbar_nav > li.dropdown:after,
body.rtl_enable .navbar_nav > li.dropdown:after {
  right: unset;
  left: 0;
}

body.rtl .navbar_nav > li:first-child,
body.rtl_enable .navbar_nav > li:first-child {
  margin-right: 0px;
}

body.rtl .navbar_nav li .dropdown_menu,
body.rtl_enable .navbar_nav li .dropdown_menu {
  text-align: right;
  left: unset;
  right: 0;
}

body.rtl .navbar_nav li .dropdown_menu > li > .dropdown_menu,
body.rtl_enable .navbar_nav li .dropdown_menu > li > .dropdown_menu {
  right: 100% !important;
}

body.rtl .navbar_nav li .dropdown_menu > li.dropdown::after,
body.rtl_enable .navbar_nav li .dropdown_menu > li.dropdown::after {
  left: 1.75rem;
  right: unset;
}

body.rtl .breadcrumbs ul li,
body.rtl_enable .breadcrumbs ul li {
  padding-right: unset;
  margin-right: unset;
  padding-left: 15px;
  margin-left: 10px;
}

body.rtl .breadcrumbs ul li:last-child,
body.rtl_enable .breadcrumbs ul li:last-child {
  margin-left: 0;
  padding-left: 0;
}

body.rtl .breadcrumbs ul li:after,
body.rtl_enable .breadcrumbs ul li:after {
  right: unset;
  left: -1px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media (min-width: 992px) {
  body.rtl.right-sidebar .all_side_bar,
  body.rtl_enable.right-sidebar .all_side_bar {
    padding-left: unset !important;
    padding-right: 50px !important;
  }
}

body.rtl .widgets_grid_box ul, body.rtl .widgets_grid_box ol,
body.rtl_enable .widgets_grid_box ul,
body.rtl_enable .widgets_grid_box ol {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

body.rtl .widgets_grid_box ul ul.children, body.rtl .widgets_grid_box ul ul.sub-menu, body.rtl .widgets_grid_box ol ul.children, body.rtl .widgets_grid_box ol ul.sub-menu,
body.rtl_enable .widgets_grid_box ul ul.children,
body.rtl_enable .widgets_grid_box ul ul.sub-menu,
body.rtl_enable .widgets_grid_box ol ul.children,
body.rtl_enable .widgets_grid_box ol ul.sub-menu {
  padding: 0px 5px 0px 0px !important;
}

body.rtl article.tag-sticky-2 .card_blog.default_style .meta_box:before,
body.rtl_enable article.tag-sticky-2 .card_blog.default_style .meta_box:before {
  right: unset;
  left: 0;
}

body.rtl .card_blog.default_style .content_box .meta_box, body.rtl .card_blog.two .content_box .meta_box,
body.rtl_enable .card_blog.default_style .content_box .meta_box,
body.rtl_enable .card_blog.two .content_box .meta_box {
  padding-right: 0rem;
}

body.rtl .card_blog.default_style .content_box .meta_box li, body.rtl .card_blog.two .content_box .meta_box li,
body.rtl_enable .card_blog.default_style .content_box .meta_box li,
body.rtl_enable .card_blog.two .content_box .meta_box li {
  margin: 0px 0 0 0.75rem;
}

body.rtl .card_blog.default_style .content_box .rd_more i, body.rtl .card_blog.two .content_box .rd_more i,
body.rtl_enable .card_blog.default_style .content_box .rd_more i,
body.rtl_enable .card_blog.two .content_box .rd_more i {
  display: inline-block;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  left: 6px;
  top: 0;
}

body.rtl .tags_and_share .d-flex .tags_content.left_one,
body.rtl_enable .tags_and_share .d-flex .tags_content.left_one {
  padding-left: 20px;
  padding-right: unset;
}

body.rtl .blog_single_page_header .page_header_content .authour_content_box .authour_image,
body.rtl_enable .blog_single_page_header .page_header_content .authour_content_box .authour_image {
  margin-left: 10px;
  margin-right: unset;
}

body.rtl .blog_single_page_header .page_header_content .authour_content_box .authour_content,
body.rtl_enable .blog_single_page_header .page_header_content .authour_content_box .authour_content {
  text-align: right;
}
/*# sourceMappingURL=rtl.css.map */