:root{
    --primary-color-one: #3744c6;
    --primary-color-two: #3744c6;
    --primary-color-three:#3744c6;
    --primary-color-four: #3744c6;
    --menu-active-color: #3744c6;

    --preloader-background-color: #3744c6;
    --background-color-one:#f1f2fb;
    --background-color-two:#f1f2fb;
    --background-color-three:#3744c63b; 
    
}
.primarg_bg_color{
    background: var(--primary-color-one)!important;
    background-color: var(--primary-color-one)!important;
}
.color_default{
    color: var(--primary-color-one)!important;
}
.theme_bg_color{
    background: var(--background-color-one);
    background-color: var(--background-color-one);
}
.theme_bg_color_two{
    background: var(--background-color-two);
    background-color: var(--background-color-two);
}
.theme_bg_color_three{
    background: var(--background-color-three);
    background-color: var(--background-color-three);
}
.primarg_border_color{
    border-color: var(--primary-color-one)!important;
}
 