//single post


.blog_single_details_outer {
    position: relative;
    .single_content_upper{
        position: relative;
        padding-bottom: 20px;
        .post_single_content{
            position: relative;
        }
        .blog_feature_image{
            position: relative;
            border-radius: 0.375rem;
            overflow: hidden;
            margin-bottom: 30px;
            height: 480px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
      
    }
    .single_content_lower{
        position: relative;
        padding-top: 40px;
        border-top: 1px solid var(--border-color-one);
    }
    &.tag-sticky-2{
        .single_content_upper{
            &:before{
                position: absolute;
                content: unicode('f08d');
                font-size: 20px;
                color: var(--primary-color-one);
                right: 0;
                top: 0;
                font-family: var(--fontawesome-two);
            }
        }
    }
}

body.no-sidebar{
.blog_single_details_outer .single_content_lower{
    max-width: 44rem;
    margin: auto;
}

}    


// post-nav-links

.post-nav-links{
    position: relative;
    width: 100%;
    display: block;
    margin-top: 30px;
    padding: 0px;
    a,  span {
        display: inline-block;
        margin: 0px 0px 0px 10px;
        width: 40px;
        height: 40px;
        background: var(--primary-color-one);
        font-size: 14px;
        font-weight: 700;
        font-family: var(--monst-family-two);
        line-height: 40px;
        color: #fff;
        text-align: center;
        border-radius: 50%;
        position: relative;
        -webkit-transition: 0.5s ease-in-out;
        transition: 0.5s ease-in-out;
        -ms-transition: 0.5s ease-in-out;
        -moz-transition: 0.5s ease-in-out;
        -o-transition: 0.5s ease-in-out;
        &:hover{
            background: var(--primary-color-two);
        }
    }
}

// tags and category

.tags_and_share {
    position: relative;
    .d-flex {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        .tags_content ,  .share_content {
            position: relative;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -webkit-box-pack: unset;
            -ms-flex-pack: unset;
            justify-content: unset;
            margin-bottom: 32px;
            .title {
                font-size: 15px;
                font-weight: 600;
                text-transform: capitalize;
                color: var(--heading-dark);
                font-family: var(--monst-family-one);
                margin-bottom: 8px !important;
                padding-right: 8px;
            }
            .btn{
                position: relative;
                display: inline-block;
                margin-right: 5px !important;
                padding: 5px 12px 5px;
                font-size: 10px;
                font-weight: 600;
                text-transform: uppercase;
                color: var(--text-color-dark);
                font-family: var(--monst-family-two);
                border: 1px solid var(--border-color-one);
                border-radius: 30px;
                line-height: normal;
                margin: 0;
                -webkit-transition: 0.5s ease-in-out !important;
                transition: 0.5s ease-in-out !important;
                -moz-transition: 0.5s ease-in-out !important;
                -o-transition: 0.5s ease-in-out !important;
                -ms-transition: 0.5s ease-in-out !important;
                margin-bottom: 8px;
                &:hover{
                    border-color: var(--primary-color-two);
                    background: var(--primary-color-two);
                    color: #fff;
                }
            }
        }
        .tags_content{
            &.left_one {
                padding-right: 20px;
            }
        }
    }
}

// comments
.sec_comments {
    position: relative;
    .comment_box {
        .title_commnt { 
            h2{
                a {
                    margin-bottom: 31px;
                    font-size: 30px;
                    display: block;
                    line-height: 42px;
                    font-weight: 600;
                    color: var(--heading-dark);
                    font-family: var(--monst-family-one);
                }
            }
        }
        // comment
       .comment-list {
            position: relative;
            padding: 0px;
            margin: 0px;
          
            li.comment{
                .media {
                    position: relative;
                    margin-left: 80px;
                    .image img {
                        position: absolute;
                        width: 60px;
                        height: 60px;
                        left: -80px;
                        top: 0px;
                        border-radius: 50%;
                        -o-object-fit: cover;
                        object-fit: cover;
                    }
                }
               
            }
            li.comment , li.trackback , li.pingback   {
                list-style: none;
                position: relative;
                .comments-outer  {
                    .comment-text{
                        position: relative;
                        border: 1px solid var(--border-color-one);
                        padding: 20px 30px;
                        margin-bottom: 40px;
                        border-radius: 0.375rem;
                    }   
                    
                    .reply{
                        display: flex;
                        p{
                            margin-bottom: 0px;
                            display: flex;
                            i{
                                line-height: 25px;
                                margin-right: 5px;
                                font-size: 15px;
                                display: inline-block;
                            }
                            a{
                                margin-right: 10px;
                                letter-spacing: 0.025em;
                                display: block;
                                text-transform: uppercase;
                                font-weight: 700;
                                font-size: .75rem;
                                color: var(--text-color-dark);
                            }
                            &:last-child{
                                color: var(--primary-color-one);
                            }
                        }
                    }
                }
                
                .comment-text {
                    position: relative;
                    h3.name{
                        position: relative;
                        font-size: 16px;
                        display: inline-block;
                        line-height: 28px;
                        font-weight: 700;
                        color: var(--heading-dark);
                        font-family: var(--monst-family-two);
                        margin: 5px 0px 6px;
                        padding-right: 200px;
                        .date{
                            display: inline-block;
                            font-weight: 400;
                            padding-left: 8px;
                            color: var(--text-color-dark);
                            font-size: .75rem;
                            margin: 0px 0.75rem 0 0px;
                        }
                    }
                   p{
                       font-size: 15px;
                       img{
                           display: block;
                           padding: 5px 0px;
                       }
                   }
                }
            }
        } 
    }
    .comment_inner {
        .comment-respond{
            margin-bottom: 50px;
        } 
    }
    .comment-respond{
        position: relative;
        textarea , input{
            margin-bottom: 30px;
        }
        .comment-form-cookies-consent , .form-submit{
            padding: 0px 15px;    margin-bottom: 0px;
            input{
                margin: 0px 0px 10px;
            }
        
        }
        .blog-details__content-title{
            margin-bottom: 10px;
            font-size: 30px;
            display: block;
            line-height: 42px;
            font-weight: 600;
            color: var(--heading-dark);
            font-family: var(--monst-family-one);
            small{
                position: relative;
                display: inline-block;
                font-size: 18px;
                padding-left: 15px;
                a{
                    font-weight: 500;
                    color: var(--primary-color-one);
                }
                
            }
        }
    }
    
    
    .comment-form {
        p.logged-in-as{
            margin-bottom: 10px;
        }
    }
}


//  previouse_next_post

.previouse_next_post{
    position: relative;
    margin-bottom: 45px;
    a.arrow{
        position: absolute;
        width: 50px;
        height: 50px;
        line-height: 50px;
        border-radius: .25rem;
        border: 1px solid var(--border-color-one);
        display: block;
        left: 30px;
        top: 0px;
        bottom: 0;
        margin: auto;
        background: #fff;
        text-align: center;
        -webkit-transition: 0.5s ease-in-out !important;
        transition: 0.5s ease-in-out !important;
        -moz-transition: 0.5s ease-in-out !important;
        -o-transition: 0.5s ease-in-out !important;
        -ms-transition: 0.5s ease-in-out !important;
        i{
            transform: rotate(180deg);
            display: block;
            position: absolute;
            right: 0;
            bottom: 15px;
            left: 0;
            margin: auto;
        }
    }
    ul{
        position: relative;
        margin: 0px;
        padding: 0px;
        li{
            position: relative;
            width: 50%;
            float: left;
            margin: 0px;
            list-style: none;
            padding-top: 0px;
            padding-bottom: 0px;
            &:first-child{
                padding-right: 15px!important;
                padding-left: 0px!important;
            }
            &:last-child{
                padding-right: 0px;
                padding-left: 15px;
            }
        }
       .blp {
        &:hover{
            border-color: var(--primary-color-one);
            a.arrow{
                color: #fff;
                border-color: var(--primary-color-one);
                background: var(--primary-color-one);
            }
        }
       }
    }
    .text{
        p{
            font-size: 12px;
            font-weight: 600;
            text-transform: uppercase;
            color: var(--text-color-dark);
            font-family: var(--monst-family-two);
            margin-bottom: 8px;
        }
        h2 {
            margin: 0px;
            a{
                font-size: 18px;
                line-height: 28px;
                font-weight: 700;
                text-transform: capitalize;
                color: var(--heading-dark);
                font-family: var(--monst-family-one);
                display: block; margin: 0px;
                &:hover{
                    color: var(--primary-color-two);
                }
            }
        }
    }
    .blp {
        padding: 30px;
   
        border-radius: .25rem;
        position: relative;
        border: 1px solid var(--border-color-one);
        -webkit-transition: 0.5s ease-in-out !important;
        transition: 0.5s ease-in-out !important;
        -moz-transition: 0.5s ease-in-out !important;
        -o-transition: 0.5s ease-in-out !important;
        -ms-transition: 0.5s ease-in-out !important;
        .text{
            position: relative;
            margin-left: 65px;
        }
      
      
    }
    .next_post {
      
        text-align: right;
      
        a.arrow{
            display: block;
            right: 30px;
            left: unset;
            i{
                transform: unset;
                position: absolute;
                top: 16px;
                right: 0;
                display: block;
                left: 0;
                margin: auto;
            }
        }
        .text{
            position: relative;
            margin-left: unset;
            margin-right: 65px;
        }

        &:hover{
            border-color: var(--primary-color-one);
            a.arrow{
                color: #fff;
                border-color: var(--primary-color-one);
                background: var(--primary-color-one);
            }
        }
    }
}